<div class="login-box">
    <div class="logo-wrapper">
        <img class="logo" src="/assets/logo.svg" alt="">
    </div>
    <form class="login-form" (keyup.enter)="checkEmpty($event)" (submit)="checkEmpty($event)">
        <input #unameInput type="text" placeholder="Username" id="user" name="uname-input">
        <input #passwordInput type="password" placeholder="Password" name="password-input" id="password">
        <div class="submit-wrapper">
            <input type="submit" value="Submit" id="submit">
        </div>
    </form>
</div>